    <!-- Body main wrapper start -->
    <div class="wrapper">
      <!-- Start of header area -->
      <header>
          <div class="header-top-bar white-bg ptb-20">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-4">
                          <div class="header-top">
                              <ul>
                                  <li class="lh-50">
                                      <a href="#" class="pr-20"><i class="zmdi zmdi-search"></i></a>
                                      <div class="header-bottom-search header-top-down header-top-hover lh-35">
                                          <form class="header-search-box" action="#" method="POST">
                                              <div>
                                                  <input type="text" value="" placeholder="Search" autocomplete="off">
                                                  <button class="btn btn-search" type="submit">
                                                      <i class="zmdi zmdi-search"></i>
                                                  </button>
                                              </div>
                                          </form>
                                      </div>
                                  </li>
                                  <li class="lh-50">
                                      <a href="#" class="prl-20 text-uppercase">USD</a>
                                      <div class="header-top-down header-top-hover pl-15 lh-35">
                                          <ul>
                                              <li><a href="#">USD</a></li>
                                              <li><a href="#">Uero</a></li>
                                              <li><a href="#">Taka</a></li>
                                              <li><a href="#">Pound</a></li>
                                              <li><a href="#">Rupi</a></li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="lh-50">
                                      <a href="#" class="prl-20 text-uppercase">ENG</a>
                                      <div class="header-top-down header-top-hover header-top-down-lang pl-15 lh-35 lh-35">
                                          <ul>
                                              <li><a href="#">Bengali</a></li>
                                              <li><a href="#">English</a></li>
                                              <li><a href="#">French</a></li>
                                              <li><a href="#">German</a></li>
                                              <li><a href="#">Spanish</a></li>
                                          </ul>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="header-logo text-center">
                              <a routerLink='home1' routerLinkActive="active">
                                  <img alt="" src="assets/images/logo/logo.png">
                              </a>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="header-top header-top-right">
                              <ul>
                                  <li class="lh-50">
                                      <a href="#" class="pr-20 text-uppercase">account</a>
                                      <div class="header-top-down header-top-hover pl-15 lh-35">
                                          <ul>
                                              <li><a routerLink='loginh' routerLinkActive="active">Login</a></li>
                                              <li><a routerLink='cart' routerLinkActive="active">My bag</a></li>
                                              <li><a routerLink='checkout' routerLinkActive="active">Checkout</a></li>
                                              <li><a routerLink='wishlist' routerLinkActive="active">Wishlist</a></li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li class="lh-50">
                                      <a  routerLink='checkout' routerLinkActive="active"  class="prl-20 text-uppercase">check out</a>
                                  </li>
                                  <li class="cart-link lh-50">
                                      <a href="#" class="pl-20">
                                          <i class="zmdi zmdi-shopping-cart"></i>
                                          <span>2</span>
                                      </a>
                                      <div class="mini-cart-inner header-top-down p-20">
                                          <ul class="cart-list">
                                              <li class="p-10 mb-15">
                                                  <a href="#" class="product-image">
                                                      <img src="assets/images/shop/cart/1.jpg" alt="">
                                                  </a>
                                                  <div class="product-details ml-10">
                                                      <a href="#" class="remove">
                                                          <i class="zmdi zmdi-close"></i>
                                                      </a>
                                                      <a href="#" class="product-name mb-10">Men’s Black T..</a>
                                                      <span class="selected-color">Color:  Black</span>
                                                      <span class="selected-size">$80.00</span>
                                                  </div>
                                              </li>
                                              <li class="p-10 mb-15">
                                                  <a href="#" class="product-image">
                                                      <img src="assets/images/shop/cart/2.jpg" alt="">
                                                  </a>
                                                  <div class="product-details ml-10">
                                                      <a href="#" class="remove">
                                                          <i class="zmdi zmdi-close"></i>
                                                      </a>
                                                      <a href="#" class="product-name mb-10">Men’s Black T..</a>
                                                      <span class="selected-color">Color:  white</span>
                                                      <span class="selected-size">$65.00</span>
                                                  </div>
                                              </li>
                                              <li class="p-10 mb-15">
                                                  <a href="#" class="product-image">
                                                      <img src="assets/images/shop/cart/3.jpg" alt="">
                                                  </a>
                                                  <div class="product-details ml-10">
                                                      <a href="#" class="remove">
                                                          <i class="zmdi zmdi-close"></i>
                                                      </a>
                                                      <a href="#" class="product-name mb-10">Men’s Black T..</a>
                                                      <span class="selected-color">Color:  Red</span>
                                                      <span class="selected-size">$100.00</span>
                                                  </div>
                                              </li>
                                          </ul>
                                          <div class="border-bottom"></div>
                                          <div class="cart-footer text-center">
                                              <p class="total mtb-15">
                                                  Subtotal:
                                                  <span class="ml-35">$190.98</span>
                                              </p>
                                              <p class="buttons m-0">
                                                  <a routerLink='checkout' routerLinkActive="active" class="button extra-small">
                                                      <span>Chec55555kout</span>
                                                  </a>
                                              </p>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div id="sticky-header" class="header-area header-wrapper transparent-header">
              <div class="header-middle-area black-bg">
                  <div class="container">
                      <div class="full-width-mega-dropdown">
                          <div class="row">
                              <div class="col-md-12">
                                  <nav id="primary-menu">
                                      <ul class="main-menu text-center">
                                          <li><a routerLink='home1' routerLinkActive="active">Home</a></li>
                                          <li><a routerLink='about' routerLinkActive="active">About</a></li>
                                          <li><a routerLinkActive="active">Foods</a>
                                            <ul class="dropdown header-top-hover ptb-10">
                                              <li><a routerLink='firstfood' routerLinkActive="active">first Foods</a></li>
                                              <li><a routerLink='pizza' routerLinkActive="active">Pizzas</a></li>
                                              <li><a routerLink='drink' routerLinkActive="active">Drinks</a></li>
                                            </ul>
                                          </li>
                                          <li><a href="#">Blogs</a>
                                              <ul class="dropdown header-top-hover ptb-10">
                                                  <li><a routerLink='blog' routerLinkActive="active">Blog</a></li>
                                                  <li><a routerLink='blogditails' routerLinkActive="active">Blog Details</a></li>
                                              </ul>
                                          </li>
                                          <li><a routerLink='myaccount' routerLinkActive="active">my Acoount</a></li>
                                          <li><a routerLink='loginh' routerLinkActive="active">Register</a></li>
                                          <li><a routerLink='contact' routerLinkActive="active">Contact Us</a></li>
                                      </ul>
                                  </nav>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Mobile Menu Start -->
          <div class="mobile-menu-area">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="mobile-menu">
                              <nav id="dropdown">
                                  <ul>
                                    <li><a routerLink='home1' routerLinkActive="active">Home</a></li>
                                    <li><a routerLink='about' routerLinkActive="active">About</a></li>
                                    <li><a routerLinkActive="active">Foods</a>
                                      <ul class="dropdown header-top-hover ptb-10">
                                        <li><a routerLink='firstfood' routerLinkActive="active">first Foods</a></li>
                                        <li><a routerLink='pizza' routerLinkActive="active">Pizzas</a></li>
                                        <li><a routerLink='drink' routerLinkActive="active">Drinks</a></li>
                                      </ul>
                                    </li>
                                    <li><a href="#">Blogs</a>
                                        <ul class="dropdown header-top-hover ptb-10">
                                            <li><a routerLink='blog' routerLinkActive="active">Blog</a></li>
                                            <li><a routerLink='blogditails' routerLinkActive="active">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a routerLink='myaccount' routerLinkActive="active">my Acoount</a></li>
                                    <li><a routerLink='loginh' routerLinkActive="active">Register</a></li>
                                    <li><a routerLink='contact' routerLinkActive="active">Contact Us</a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Mobile Menu End -->
      </header>
      <!-- End of header area -->

      <router-outlet></router-outlet>
      <!-- End page content -->
      <!-- Start footer area -->
      <footer id="footer" class="footer-area">
          <div class="footer-top-area gray-bg">
              <div class="container">
                  <div class="row">
                      <div class="col-md-3 col-sm-6">
                          <div class="footer-widget">
                              <div class="footer-widget-img pb-30">
                                  <a href="#">
                                      <img src="assets/images/logo/logo-2.png" alt="">
                                  </a>
                              </div>
                              <ul class="toggle-footer text-white">
                                  <li class="mb-30 pl-45">
                                      <i class="zmdi zmdi-pin"></i>
                                      <p>House No 08, Road No 08, <br>
                                      Din Bari, Dhaka, Bangladesh</p>
                                  </li>
                                  <li class="mb-30 pl-45">
                                      <i class="zmdi zmdi-email"></i>
                                      <p>Username@gmail.com <br>
                                      Damo@gmail.com</p>
                                  </li>
                                  <li class="pl-45">
                                      <i class="zmdi zmdi-phone"></i>
                                      <p>+660 256 24857<br>
                                      +660 256 24857</p>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="text-white footer-information">
                              <h4 class="pb-40 m-0 text-uppercase">information</h4>
                              <ul class="footer-menu">
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>Hot Sale</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>best Seller</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>Suppliers</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>Our Store</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>Deal of The Day</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="text-white footer-account">
                              <h4 class="pb-40 m-0 text-uppercase">MY ACCOUNT</h4>
                              <ul class="footer-menu">
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>My Account</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>Personal Information</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>Discount</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>Orders History</a></li>
                                  <li><a href="#"><i class="zmdi zmdi-chevron-right"></i>Payment</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="text-white footer-about-us">
                              <h4 class="pb-40 m-0 text-uppercase">about us</h4>
                              <p>Lorem ipsum dolor sit amet, consecteir our adipisicing elit, sed do eiusmod tempor the incididunt ut labore et dolore magnaa liqua. Ut enim minimn.</p>
                              <ul class="footer-social-icon">
                                  <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                  <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                  <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                  <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                  <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-bottom black-bg ptb-15">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="copyright text-white">
                              <p>Copyright <i class="fa fa-copyright"></i> 2018 <a href="https://freethemescloud.com/" target="_blank" >Free Themes Cloud.</a> All rights reserved. </p>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="footer-img">
                              <img src="assets/images/payment.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- End footer area -->
      <!--Quickview Product Start -->
      <div id="quickview-wrapper">
          <!-- Modal -->
          <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                          <div class="modal-product">
                              <div class="single-product-image">
                                  <div id="product-img-content">
                                      <div id="my-tab-content" class="tab-content mb-20">
                                          <div class="tab-pane b-img active" id="view1">
                                              <a class="venobox" href="assets/images/product/product-details/1.jpg" data-gall="gallery" title=""><img src="assets/images/product/product-details/1.jpg" alt=""></a>
                                          </div>
                                          <div class="tab-pane b-img" id="view2">
                                              <a class="venobox" href="assets/images/product/product-details/2.jpg" data-gall="gallery" title=""><img src="assets/images/product/product-details/2.jpg" alt=""></a>
                                          </div>
                                          <div class="tab-pane b-img" id="view3">
                                              <a class="venobox" href="assets/images/product/product-details/3.jpg" data-gall="gallery" title=""><img src="assets/images/product/product-details/3.jpg" alt=""></a>
                                          </div>
                                          <div class="tab-pane b-img" id="view4">
                                              <a class="venobox" href="assets/images/product/product-details/4.jpg" data-gall="gallery" title=""><img src="assets/images/product/product-details/4.jpg" alt=""></a>
                                          </div>
                                      </div>
                                      <div id="viewproduct" class="nav nav-tabs product-view bxslider" data-tabs="tabs">
                                          <div class="pro-view b-img active"><a href="#view1" data-toggle="tab"><img src="assets/images/product/product-details/s-1.jpg" alt=""></a></div>
                                          <div class="pro-view b-img"><a href="#view2" data-toggle="tab"><img src="assets/images/product/product-details/s-2.jpg" alt=""></a></div>
                                          <div class="pro-view b-img"><a href="#view3" data-toggle="tab"><img src="assets/images/product/product-details/s-3.jpg" alt=""></a></div>
                                          <div class="pro-view b-img"><a href="#view4" data-toggle="tab"><img src="assets/images/product/product-details/s-4.jpg" alt=""></a></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="product-details-content">
                                  <div class="product-content text-uppercase">
                                      <a href="product-details.html" title="Slim Shirt With Stretch">Slim Shirt With Stretch</a>
                                      <div class="rating-icon pb-20 mt-10">
                                          <i class="zmdi zmdi-star"></i>
                                          <i class="zmdi zmdi-star"></i>
                                          <i class="zmdi zmdi-star"></i>
                                          <i class="zmdi zmdi-star-half"></i>
                                          <i class="zmdi zmdi-star-half"></i>
                                      </div>
                                      <div class="product-price pb-20">
                                          <span class="new-price">£ 185.00</span>
                                          <span class="old-price">£ 200.00</span>
                                      </div>
                                  </div>
                                  <div class="product-view pb-20">
                                      <h4 class="product-details-tilte text-uppercase">overview</h4>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. luptate. </p>
                                  </div>
                                  <div class="product-size text-uppercase pb-30">
                                      <h4 class="product-details-tilte text-uppercase pb-10">size</h4>
                                      <ul>
                                          <li><a href="#">s</a></li>
                                          <li><a href="#">m</a></li>
                                          <li><a href="#">l</a></li>
                                          <li><a href="#">xl</a></li>
                                          <li><a href="#">xxl</a></li>
                                      </ul>
                                  </div>
                                  <div class="product-attributes clearfix">
                                      <div class="product-color text-uppercase pb-30">
                                          <h4 class="product-details-tilte text-uppercase pb-10">color</h4>
                                          <ul>
                                              <li class="color-1"><a href="#"></a></li>
                                              <li class="color-2"><a href="#"></a></li>
                                              <li class="color-3"><a href="#"></a></li>
                                              <li class="color-4"><a href="#"></a></li>
                                          </ul>
                                      </div>
                                      <div class="pull-left" id="quantity-wanted">
                                          <h4 class="product-details-tilte text-uppercase pb-10">quantity</h4>
                                          <input type="number" value="1">
                                      </div>
                                  </div>
                                  <div class="product-action-shop text-center mb-30">
                                      <a href="#" title="Quick view">
                                          <i class="zmdi zmdi-eye"></i>
                                      </a>
                                      <a href="#" title="Add to cart">
                                          <i class="zmdi zmdi-shopping-cart"></i>
                                      </a>
                                      <a href="#" title="Add to Wishlist">
                                          <i class="zmdi zmdi-favorite"></i>
                                      </a>
                                  </div>
                                  <div class="socialsharing-product">
                                      <h4 class="product-details-tilte text-uppercase pb-10">share this on</h4>
                                      <button type="button"><i class="zmdi zmdi-facebook"></i></button>
                                      <button type="button"><i class="zmdi zmdi-instagram"></i></button>
                                      <button type="button"><i class="zmdi zmdi-rss"></i></button>
                                      <button type="button"><i class="zmdi zmdi-twitter"></i></button>
                                      <button type="button"><i class="zmdi zmdi-pinterest"></i></button>
                                  </div>
                              </div>
                              <!-- .product-info -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--End of Quickview Product-->
  </div>
  <script src="assets/js/vendor/jquery-3.1.1.min.js"></script>
  <!-- Bootstrap framework js -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Particles js -->
  <script src="assets/js/particles.js"></script>
  <!-- All js plugins included in this file. -->
  <script src="assets/js/plugins.js"></script>
  <!-- Main js file that contents all jQuery plugins activation. -->
  <script src="assets/js/main.js"></script>
